# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.angular

dist
coverage
.nx/cache
.angular

/.history
/.nx
/node_modules
/target
README.md

.history
.nx
node_modules
target
/apps/app/src/assets/layout/styles/theme
