<table
  width='100%'
  border='0'
  cellspacing='0'
  cellpadding='0'
  style='width:100%;background-color:#efefef;padding:0;border-bottom:1px solid #ddd'
>
  <tbody>
    <tr>
      <td>
        <h2
          style='padding:0;
          margin:5px 20px;
          font-size:16px;
          line-height:1.4em;
          font-weight:normal;
          color:#464646;
          font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif'
        >
          Password Reset</h2>
      </td>

      <td
        style='vertical-align:middle'
        height='32'
        width='32'
        valign='middle'
        align='right'
      >

        <!-- logo area -->

      </td>
    </tr>
  </tbody>
</table>

<table
  style='width:100%'
  width='100%'
  border='0'
  cellspacing='0'
  cellpadding='20'
  bgcolor='#ffffff'
>
  <tbody>
    <tr>
      <td>
        <table style='width:100%' border='0' cellspacing='0' cellpadding='0'>
          <tbody>
            <tr>
              <td valign='top' style='width:0px'>
                <!-- profile foto area -->
              </td>

              <td valign='top' style='padding:0 0 0 20px'>
                <p
                  style='direction:ltr;
                   font-size:14px;
                   line-height:1.4em;
                   color:#444444;
                   font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                   margin:0 0 1em 0;
                   margin:0 0 20px 0'
                >
                  Have you requested to reset your password?</p>
                <p
                  style='direction:ltr;
                   font-size:14px;
                   line-height:1.4em;
                   color:#444444;
                   font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                   margin:0 0 1em 0;
                   margin:0 0 20px 0'
                >
                  Someone recently requested that the password be reset for
                  <b>{{name}}</b>
                </p>
                <p
                  style='direction:ltr;
                   font-size:14px;
                   line-height:1.4em;
                   color:#444444;
                   font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                   margin:0 0 1em 0;
                   margin:0 0 20px 0'
                >
                  To reset your password please click this button:</p>

                <div
                  style='direction:ltr;margin:0 0 20px 0;font-size:14px;text-align:center'
                >
                  <p
                    style='direction:ltr;
                    font-size:14px;
                    line-height:1.4em;
                    color:#444444;
                    font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                    margin:0 0 1em 0'
                  >
                    <a
                      style='text-decoration: underline;
                    color: #2585b2;
                    border-radius: 10em;
                    border: 1px solid #11729e;
                    text-decoration: none;
                    color: #fff;
                    background-color: #2585b2;
                    padding: 5px 15px;
                    font-size: 16px;
                    line-height: 1.4em;
                    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    margin-left: 0;
                    white-space: nowrap;'
                      target='_blank'
                      href='{{resetPasswordConfirmUrl}}'
                    >
                      Reset password
                    </a>
                  </p>
                </div>
                <p
                  style='direction:ltr;
                   font-size:14px;
                   line-height:1.4em;
                   color:#444444;
                   font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                   margin:0 0 1em 0;
                   margin:0 0 20px 0'
                >
                  Or, you can use the code below to reset password in
                  confirmation page.</p>
                <div
                  style='direction:ltr;margin:0 0 20px 0;font-size:14px;text-align:center'
                >
                  <p
                    style='direction:ltr;
                    font-size:14px;
                    line-height:1.4em;
                    color:#444444;
                    font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                    margin:0 0 1em 0'
                  >
                    <b> {{verificationCode}} </b>
                  </p>
                </div>
                <p
                  style='direction:ltr;
                   font-size:14px;
                   line-height:1.4em;
                   color:#444444;
                   font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
                   margin:0 0 1em 0;
                   margin:0 0 20px 0'
                >
                  If this is a mistake just ignore this email - your password
                  will not be changed.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table
  border='0'
  cellspacing='0'
  width='100%'
  cellpadding='20'
  bgcolor='#efefef'
  style='width:100%;background-color:#efefef;text-align:left;border-top:1px solid #dddddd'
>
  <tbody>
    <tr>
      <td
        style='border-top:1px solid #f3f3f3;
        color:#888;
        font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
        font-size:14px;
        background:#efefef;
        margin:0;
        padding:10px 20px 20px'
      >
        <p
          style='direction:ltr;
          font-size:14px;
          line-height:1.4em;
          color:#444444;
          font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
          margin:0 0 1em 0;
          font-size:12px;
          line-height:1.4em;
          margin:0'
        >
          <span>If you cannot access the link directly by clicking, you can copy
            it and paste it directly in a browser.</span>
        </p>
        <br />
        <p
          style='direction:ltr;
          font-size:14px;
          line-height:1.4em;
          color:#444444;
          font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;
          margin:0 0 1em 0;
          font-size:12px;
          line-height:1.4em;
          margin:0'
        >
          <a
            style='text-decoration:underline;color:#2585b2'
            target='_blank'
          >{{resetPasswordConfirmUrl}}</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>